APP_IMAGE_TAG="latest"
PRISMA_DB_PUSH_ON_START="false"
RUN_SEED_ON_START="false"
DEVELOPER_ACCESS_CPFS=""
DATABASE_URL="postgresql://postgres.SEUPROJETO:SUA_SENHA@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1&sslmode=require"
DIRECT_URL="postgresql://postgres.SEUPROJETO:SUA_SENHA@aws-0-sa-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_URL="https://SEUPROJETO.supabase.co"
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_STORAGE_BUCKET="documents"
