APP_IMAGE_TAG="preview"
RUN_SEED_ON_START="true"
DEVELOPER_ACCESS_CPFS=""
DATABASE_URL="postgresql://nomos:nomos@postgres:5432/nomos?schema=public"
GOOGLE_DRIVE_CREDENTIALS_JSON='cole aqui o conteudo JSON da service account'
GOOGLE_DRIVE_ROOT_FOLDER_ID=""
GOOGLE_DRIVE_SHARED_DRIVE_ID=""
GOOGLE_DRIVE_CYCLE_PREFIX="Avaliacao"
